.navbar{
  margin-bottom: 40px !important;
}

h3{
  margin: 10px 0px 20px 5px !important;
}
.product-thumb{
  margin-right: 10px;
  margin-bottom: 5px;
}

.product-thumb img{
  max-width: 200px;
}

.add-comment{
  padding: 10px 20px 0px 20px;
}

.add-comment textarea{
  height: 150px;
}